/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: black;
}

.site-header {
  background-image: url(https://picsum.photos);
  background-size: 10%;
  background-position: bottom;
  color: white;
}

main {
  border-radius: 15px;
  border: 2px solid #aaa;
}

article {
  border-radius: 50%;
  border: 15px solid black;
}

